.feedback-submit {
  background-color: rgb(182, 163, 232);
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 1rem;
  min-width: 5rem;
  font-weight: bold;
  font-size: 100%;
  color: white;
}

.feedback-submit:hover {
  background-color: rgb(88, 63, 150);
}
