.p-this {
    padding:15px;
}

form {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 25px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th {
    color: rgb(182,163,232);
}

input[type="password"]{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #B6A3E8;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #B6A3E8;
}
