.p-this {
    padding:15px;
}

.sertifikat-content {
    text-align:center;
}

.list-sertif {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    height:70vh;
    overflow-y: scroll;
}

.sertifikat-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
    transition: padding ease-in-out 0.1s;
}

.simp-btn {
    margin: 10px;
    padding: 10px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 12px;
    filter: drop-shadow(0px 5px 10px rgba(0,0,0,0.1));
}

.certname {
    margin: 5px;
}

.simp-btn:hover {
    color: white;
    background-color: rgb(182,163,232);
}

.sertifikat-card:hover {
    position: sticky;
    padding: 30px;
}

.sertifikat-card-upper img {
    width: 100%;
    border-radius: 8px;
    min-height: 200px;
    border: none;
}
