@import "https://www.nerdfonts.com/assets/css/webfont.css";
*
{
    padding: 0;
    margin: 0;
    font-family: NerdFontsSymbols Nerd Font, Arial, Helvetica, sans-serif;
}

.webinar-poster {
    border-radius: 12px;
    border: 4px solid rgb(182,163,232);
    filter: drop-shadow(0px 5px 10px rgba(0,0,0,0.2));
    margin: 10px;
    min-height: 200px;
}

.webinar-title {
    margin: 10px;
    margin-bottom: 0;
}

.webinar-speaker, .webinar-date, .webinar-time {
    font-weight: normal;
    font-style: italic;
    margin: 10px;
    margin-bottom: 10px;
}

.sep {
    width: 70%;
    margin: 20px;
    margin-top: 10px;
}

.diag-box {
    max-width: 90%;
}

.diag-box p {
    text-wrap: pretty;
}

.info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 70%;
}

.bottom {
    display: flex;
    margin-top: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.bottom-btn {
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 5px;
    border-radius: 12px;
    border: 2px solid rgb(182,163,232);
    background-color: white;
    filter: drop-shadow(0px 2px 5px rgba(0,0,0,0.1));
    color: rgb(182,163,232); 
    font-weight: bold;
}
@media screen and (max-width: 768px) {
    .webinar-speaker, .webinar-date, .webinar-time {
        margin: 5px;
    }

    .diag-box {
        max-width: 70%;
        overflow: scroll;
    }

    .webinar-poster {
        max-width: 70%;
    }

    .bottom-btn {
        font-size: 14px;
        width: 80%;
    }
}
